<h1>New Note</h1> 
 
<%= form_for @note do |n| %>
  <%= n.label :note %>
  <%= n.text_field :note %>
  <br />
  <%= n.label :body %>
  <%= n.text_area :body %>
  <br />
  <%= n.submit %> 
  <% end %> 